graft docs
graft src
graft ci
graft tests

include docs/img/emtec-4.png

include CHANGELOG.md
include README.md

include tox.ini .travis.yml .appveyor.yml
global-exclude *.py[cod] __pycache__/* *.so *.dylib
